<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User List</h1>
    
    {{#if users}}
        <table>
            {{#each users}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <p>No users found</p>
    {{/if}}
</body>
</html>